[flake8]
max-line-length = 100
exclude =
	.git,
	__pycache__,
	build,
	dist,
	deploy,
	env,
	env-ci,
	*.html,
	shared,
	test-reports,
	migrations
	src/alembic/env.py

ignore = W503,C812,SIM106,CCR001,R503,E501,N805
select = B,C,E,F,W,T4,B901,A,T,R,Q0,SIM,Q,N8,I0
enable-extensions = G,B1

warn-symbols =
    obsolete_module = Warning! This module is obsolete!
    module.obsolete_function = Warning! This function is obsolete!
    module.submodule.constant = Warning! this variable will be removed!

accept-encodings = utf-8,utf-16
no-accept-encodings = True

inline-quotes = "
